
@{
  ViewData["Title"] = "Recipe Index";
}

<!-- tags & counts -->
<table>
  <tr>
    <td>
      Beef <span class="badge">16</span>
    </td>
    <td>
      Chicken <span class="badge">6</span>
    </td>
  </tr>
</table>

<!-- matching recipes -->

<table class="table">
  <thead>
    <tr>
      <td>Name</td>
      <td>SmartPoints</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Beef stroganoff<br />
        <small>WeightWatchers Just Say Yum pg 98</small>
      </td>
      <td>12</td>
    </tr>
    <tr>
      <td>Miso stockpot</td>
      <td>9</td>
    </tr>
    <tr>
      <td>Tuscan meatballs</td>
      <td>10</td>
    </tr>
  </tbody>
</table>
